* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* FUNDO BRANCO */
html, body {
  background-color: #ffffff !important;
}

/* PÁGINA */
.page {
  background-color: #ffffff;
  padding: 40px;
  padding-left: 120px;
  min-height: 100vh;
}

/* HEADER */
.header {
  margin-bottom: 20px;
}

.header h1 {
  display: flex;
  align-items: center;
  color: #000;
}

.header h1 span {
  width: 5px;
  height: 25px;
  background: #7ed321;
  margin-right: 10px;
}

/* CARD */
.card {
  background: #e0e0e0;
  padding: 30px;
  border-radius: 15px;
  width: 500px;
  max-width: 90%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* FORM */
.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* LABELS VERDES */
label {
  color: #2e7d32;
  font-weight: bold;
}

/* INPUT VERDE COM TEXTO PRETO */
input {
  padding: 12px;
  border-radius: 20px;
  border: none;
  background: #7ed321; /* fundo verde */

  color: #000; /* texto preto */
  font-weight: bold;
}

/* PLACEHOLDER */
input::placeholder {
  color: #1b5e20;
}

/* BOTÕES */
.actions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.btn {
  border: none;
  padding: 12px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

.save {
  background: #4caf50;
  color: white;
}

.delete {
  background: #f44336;
  color: white;
}